[project]
	description = Lenovo IdeaTab A3000-H
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Olivier K (olivieer)
[access "refs/for/refs/*"]
	read = group user/Olivier K (olivieer)
	push = group user/Olivier K (olivieer)
	label-Code-Review = -2..+2 group user/Olivier K (olivieer)
	label-Verified = -1..+1 group user/Olivier K (olivieer)
	rebase = group user/Olivier K (olivieer)
	removeReviewer = group user/Olivier K (olivieer)
	submit = group user/Olivier K (olivieer)
[access "refs/heads/*"]
	read = group user/Olivier K (olivieer)
	create = group user/Olivier K (olivieer)
	push = +force group user/Olivier K (olivieer)
	pushMerge = group user/Olivier K (olivieer)
[access "refs/tags/*"]
	push = +force group user/Olivier K (olivieer)
	pushTag = group user/Olivier K (olivieer)
	pushSignedTag = group user/Olivier K (olivieer)
